<% provide(:title, 'FAQ') %>
<div class="faq">
    <h1>FAQ</h1>
    <h4>買い物をしたい</h4>
    <p>
        会員登録がお済みの方はSign inをしていただくことで買い物をすることができます。<br>
        会員登録がお済みで無い方はSign upから会員情報を登録して頂くことで買い物をすることができます。<br>
        ※買い物をするには会員登録が必須となります。
    </p>
    <h4>買い物をしたい</h4>
    <p>
        会員登録がお済みの方はSign inをしていただくことで買い物をすることができます。<br>
        会員登録がお済みで無い方はSign upから会員情報を登録して頂くことで買い物をすることができます。<br>
        ※買い物をするには会員登録が必須となります。
    </p>
    
    <h4>買い物をしたい</h4>
    <p>
        会員登録がお済みの方はSign inをしていただくことで買い物をすることができます。<br>
        会員登録がお済みで無い方はSign upから会員情報を登録して頂くことで買い物をすることができます。<br>
        ※買い物をするには会員登録が必須となります。
    </p>

    <h4>買い物をしたい</h4>
    <p>
        会員登録がお済みの方はSign inをしていただくことで買い物をすることができます。<br>
        会員登録がお済みで無い方はSign upから会員情報を登録して頂くことで買い物をすることができます。<br>
        ※買い物をするには会員登録が必須となります。
    </p>
    
    <h4>買い物をしたい</h4>
    <p>
        会員登録がお済みの方はSign inをしていただくことで買い物をすることができます。<br>
        会員登録がお済みで無い方はSign upから会員情報を登録して頂くことで買い物をすることができます。<br>
        ※買い物をするには会員登録が必須となります。
    </p>

</div>