<% provide(:title, 'FAQ') %>
<div class="faq">
  <h1>FAQ</h1>
  <div class="faq-contents">
    <h4>買い物をしたい</h4>
    <p>
        会員登録がお済みの方はSign inをしていただくことで買い物をすることができます。<br>
        会員登録がまだお済みで無い方はSign upから会員情報を登録して頂くことで買い物をすることができます。<br>
        ※買い物をするには会員登録が必須となります。
        Sign upでご入力いただく内容(氏名、メールアドレス)
    </p>

    <h4>注文履歴を確認したい</h4>
    <p>
        Sign inをしていただいた後、My pageの注文履歴・レビュー投稿メニューにてご確認いただけます。<br>
    </p>
    
    <h4>商品レビューを投稿したい</h4>
    <p>
        商品レビューはMy pageの注文履歴・レビュー投稿メニューから投稿可能です。 <br>
        なお商品レビューの投稿は、購入済みの商品に限りますのであらかじめご了承ください。
    </p>
    
    <h4>パスワードを変更したい</h4>
    <p>
        Sign inフォームの「パスワードをお忘れの方」リンクからパスワードを再設定することができます。<br>
        ※リンク先で入力していただいたメールアドレス宛にメールが届きます。メール内に記載されているリンクから<br>
        パスワードの再設定をしていただくことで、パスワードの変更が完了いたします。
    </p>
    
    <h4>支払い方法は？</h4>
    <p>
        お支払い方法は現金(代金引換)とクレジットカードの2種類となります。<br>
        現金でお支払いの場合は送料350円に加えて、代引き手数料400円が別途かかりますのであらかじめご了承ください。<br>
        当サイトではクレジットカード決済に<a href= https://pay.jp/>PAY JP</a>というオンライン決済サービスを利用しております。
    </p>
    
    <h4>使えるカードブランドは?</h4>
    <p>
        VisaやMasterCardを始めJCB、American Express、Discoverのクレジットカードがご使用可能です。
    </p>
  </div>
</div>