<% provide(:title, 'FAQ') %>
<div class="faq">
    <h1>FAQ</h1>
    <h4>買い物をしたい</h4>
    <p>
        会員登録がお済みの方はSign inをしていただくことで買い物をすることができます。<br>
        会員登録がお済みで無い方はSign upから会員情報を登録して頂くことで買い物をすることができます。<br>
        ※買い物をするには会員登録が必須となります。
    </p>
    <h4>商品レビューを投稿したい</h4>
    <p>
        商品レビューはマイページ → 注文履歴ページから投稿可能です。 <br>
        なお商品レビューの投稿は、購入済みの商品に限りますのであらかじめご了承ください。
    </p>
    
    <h4>登録したメールアドレスを変更したい</h4>
    <p>
        Sign inした後にマイページから変更することができます。<br>
    </p>

    <h4>パスワードを変更したい</h4>
    <p>
        Sign inフォームの「パスワードをお忘れの方」リンクからパスワードを再設定することができます。<br>
        ※リンク先で入力していただいたメールアドレス宛にメールが届きます。メール内に記載されているリンクから<br>
        パスワードの再設定をしていただくことで、パスワードの変更が完了いたします。
    </p>
    
    <h4>買い物をしたい</h4>
    <p>
        会員登録がお済みの方はSign inをしていただくことで買い物をすることができます。<br>
        会員登録がお済みで無い方はSign upから会員情報を登録して頂くことで買い物をすることができます。<br>
        ※買い物をするには会員登録が必須となります。
    </p>

</div>