
<div class="contents-center">
 <h3 class="%">
    <%= link_to "会員情報の確認・変更", edit_user_registration_path %>
 </h3>
 
 <h3 class="%">
    <%= link_to "マイリスト", mylist_path %>
 </h3>
 
 <h3 class="%">
    <%= link_to "注文履歴・レビュー投稿", "#" %>
 </h3>

 <h3 class="%">
    <%= link_to "支払い方法の確認・変更", "#" %>
 </h3>
<input type="button" value="退会">
</div>