
<div> 
 <h3 class="%">
    <%= link_to "会員情報の確認・変更", "#" %>
 </h3>
 
 <h3 class="%">
    <%= link_to "マイリスト", "#" %>
 </h3>
 
 <h3 class="%">
    <%= link_to "注文履歴・レビュー投稿", "#" %>
 </h3>

 <h3 class="%">
    <%= link_to "支払い方法の確認・変更", "#" %>
 </h3>
</div>

<input type="button" value="退会">
