<div class='home contents-center accepted'>
  <h1>お問い合わせ受付完了</h1>
  <p><%= @contact.created_at.strftime('%Y年/%m月/%d日')%>　お問い合わせを受け付けました</p>
  <p>2〜3日営業日以内にご連絡を差し上げます。</p>
  <p>ご利用ありがとうございます。</p>
</div>