<p><%= @email %>様</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレスの変更を受け付けました。本人確認を行ってください。<%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>メールアドレスの変更を受け付けました。<%= @resource.email %>.</p>
<% end %>
