<p>Hello <%= @resource.email %>!</p>

<p>パスワードの変更を受け付けました。下のリンクから新パスワードの登録をしてください</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>身に覚えのない場合は、このメールを無視してください。</p>
<p>リンクから新しいパスワードを登録しない限り、パスワードは変更されません。</p>
